LogManager.Console/
.vs/LogManager/v16/.suo
LogManager.Core/bin/
LogManager.Core/obj/
LogManager.DAL/bin/
LogManager.DAL/obj/
LogManager.Web/bin/
LogManager.Web/obj/
LogManager.BLL/bin/
LogManager.BLL/obj/
.vs/
