@model LoadViewModel
@{
    ViewData["Title"] = "Загрузить лог-файл";
}

<h1>Загрузить новый лог-файл</h1>

@if (!Model.IsLoad)
{
<form asp-action="Load" enctype="multipart/form-data" id="file-load">
    <input type="file" name="file" accept="text/plain, text/x-log" id="file-content" />
    <input type="submit" id="file-submit" value="Загрузить" />
</form>
}
<p id="processed-file"></p>
<p id="process-percent"></p>

@if (Model.IsLoad)
{
    <script>
        ShowProgress("@Model.FileName")
    </script>
}

